.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Text */
h1 {
  color: #F4CE14;
  font-family: 'Markanzi Text';
  font-size: 4vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

h2 {
  color: white;
  font-family: 'Markanzi Text';
  font-size: 2.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

h3 {
  font-family: 'Markanzi Text';
  font-size: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

h4 {
  font-family: 'Markanzi Text';
  font-size: 1.75vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

p {
  color: white;
  font-family: 'karla';
  font-size: 2vw;
}

.black {
  color: black;
}

.nav-item {
  font-family: 'Markanzi Text';
  font-size: 1.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

button, li, input, label, select, option {
  font-family: 'Markanzi Text';
  font-size: 1.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

/* Images */

.logo1 {
  padding: 1vw;
  width: 16vw;
  height: auto;
}

.logo2 {
  width: 7vw;
  height: auto;
}

.star {
  width: 2vw;
  height: 2vw;
  align-self: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.icon {
  width: 2vw;
  height: 2vw;
}

.himage {
  width: 25vw;
  height: 17vw;
  border: 1px solid black;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.vimage {
  height: 25vw;
  width: 17vw;
  border: 1px solid black;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.roundedimage {
  border-radius: 16px;
}

/* General */

li {
  list-style: none;
}

button {
  background-color: #F4CE14;
  width: 16vw;
  height: 4vw;
  border-radius: 16px;
}

/* Header */

.header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  align-items: center;
}

.topNav {
  width: 70vw;
  margin-right: 3vw;
  margin-left: auto;
}

.topNav ul {
  display: flex;
  float: right;
}

.topNav li {
  display: inline;
  padding: 1vw;
}

/* Hero */

.hero {
  background-color: #495E57;
  display: flex;
  padding: 2vw;
  padding-left: 10vw;
  align-items: center;
}

.hero div {
  width: 30vw;
  padding-right: 5vw;
}

/* Specials */

.specials > div{
  display: flex;
  padding: 2vw;
  padding-left: 10vw;
  align-items: baseline;
}

.specials article {
  background-color: #EDEFEE;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 25vw;
  border-radius: 16px;
  border: 1px solid black;
}

.specials img {
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.menubutton {
  margin-left: 50vw;
}

.specials .dishnameline {
  display: flex;
  padding: 0vw;
}

.price {
  margin-left: 8vw;
}

.specialstext {
  padding: 2vw;
}

/* Testimonials */

.ratings {
  background-color: #FBDABB;
}

.ratings h1 {
  text-align: center;
  padding-top: 3vw;
}

.ratings > div {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
}

.ratings article {
  margin: 2vw;
  padding: 2vw;
  background-color: white;
  border-radius: 16px;
  border: 1px solid black;
}

.ratings article div {
  display: flex;
}

/* About */

.about {
  background-color: #495E57;
  display: flex;
  padding: 2vw;
  padding-left: 10vw;
  align-items: center;
}

.about div {
  width: 30vw;
  padding-right: 5vw;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  margin: auto;
  width: fit-content;
}

.footer .logo2 {
  padding: 4vw;
}

.footer ul {
  padding: 4vw;
}

.footer img {
  padding: 0.3vw;
}

/* Reservations */

form {
  padding: 0vw;
  margin: 0vw;
}

.form fieldset {
  padding: 0vw;
  width: 100vw;
  margin: 0vw;
}

.reservetable {
  background-color: #FBDABB;
  margin: 0vw;
  padding: 0vw;
  display: flex;
  padding: 2vw;
  padding-left: 10vw;
  align-items: center;
}

.reservetable > div {
  padding-left: 5vw;
}

.inputsections {
  display: flex;
}


.contactinfo {
  background-color: #495E57;
  margin: 0vw;
  padding: 0vw;
  display: flex;
  padding: 2vw;
  padding-left: 10vw;
  align-items: center;
}

.contactinfo > div {
  width: 30vw;
  padding-right: 5vw;
}

.contactinfo img {
  margin-left: 20vw;
}

.Field {
  margin: 1vw;
}

.Field label {
  background-color: #EDEFEE;
  width: 20vw;
  height: 3.5vw;
  border-radius: 16px;
  display: block;
  text-align: center;
  padding-top: 1.5vw;
  border: 1px solid black;
}

.Field input {
  background-color: white;
  width: 20vw;
  height: 5vw;
  border-radius: 16px;
  display: block;
  text-align: center;
}

select {
  background-color: #EDEFEE;
  width: 20vw;
  height: 5vw;
  border-radius: 16px;
  text-align: center;
}

option {
  background-color: #EDEFEE;
  width: 20vw;
  height: 5vw;
  border-radius: 16px;
}

.submit {
  margin-left: 14vw;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
